# Maven
target/
**/target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# OS
.DS_Store

# Environment
.env

# LocalStack
.localstack/

services/stock-service/.mvn/
services/stock-service/mvnw
services/stock-service/mvnw.cmd
services/stock-service/.gitattributes
services/stock-service/.gitignore
services/query-service/.mvn/
services/query-service/mvnw
services/query-service/mvnw.cmd
services/query-service/.gitattributes
services/query-service/.gitignore

# TODO: FIx the frontend
frontend/